@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/roboto-light/Roboto-Light.ttf);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/roboto-regular/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: bold;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/roboto-medium/Roboto-Medium.ttf);
    font-weight: 500;
    font-style: bold;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/roboto-bold/Roboto-Bold.ttf);
    font-weight: 700;
    font-style: bold;
    font-display: swap;
}